:root{
    --mainBrown:#2d1e1f;
    --mainYellow:hsl(36, 100%, 52%);
    --mainGrey: #ece8dc;
    --mainWhite: #fff;
    --mainDark: #222;
}

body{
    background: var(--mainGrey);
    color: var(--mainDark);
    font-family: Verdana, Geneva, Tahoma, sans-serif
    !important;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Courier New', Courier, monospace !important;
    letter-spacing: 0.25rem !important;
}

.text-yellow{
    color: var(--mainYellow)
}

.cart-icon{
    cursor: pointer;
    color: var(--mainYellow);
    font-size: 2rem;
} 

.default-background,.about-background {
    background: var(--mainGrey);
    min-height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(255, 158, 9, 0.5), rgba(255, 158, 9, 0.5));
    background-position: center;
    background-size: cover;
}




.recipe-background {
    background: var(--mainGrey);
}

.btn-yellow{
    color: var(--mainYellow);
    border-color: var(--mainYellow);
}

.btn-yellow:hover {
    background: var(--mainYellow);
    color: var(--mainBrown);
}

.footer {
    background: var(--mainBrown);
}

.info,.contact {
    background: var(--mainWhite);
}


.py-5 {
    height: 64vh;
}



@media only screen and (max-width: 2800px) {
   
    .recipe-background {
        height: 720px;
    }
    .lead1 {
        font-size: medium;
    }
    .titles {
        font-size: xx-large;
    }
    .info {
        height: 720px;
    }
    .contact {
        height: 720px;
    }
    .cart-icon {
        position: relative;
        right: 40px;
        top: 5px;;
    }
}

@media only screen and (max-width: 1199px) {
    .recipe-background {
        height: 720px;
    }
    .lead1 {
        font-size: medium;
    }
    .lead {
        font-size: larger;
    }
    .titles {
        font-size: xx-large;
    }
    .info {
        height: 720px;
    }
    .btn {
        position: relative;
        bottom: 25px;
    }
    .products {
        height: 700px;
    }
    .menu {
        height: 720px;
    }
    .contact {
        height: 650px;
    }
}

@media only screen and (max-width: 991px) {
    .recipe-background {
        height: 720px;
    }
    
    .lead1 {
        font-size: smaller;
    }
    .titles {
        font-size: xx-large;
    }
    .infos {
        height: 700px;
    }
    
    .btn {
        position: relative;
        bottom: 5px;
    }
    .products {
        height: 650px;
    }
    .contact {
        height: 640px;
    }
    .info {
        height: 700px;
    }
    .menu {
        height: 750px;
    }
    .lead {
        font-size: large;
    }
    .btn {
        position: relative;
        bottom: 30px;
    }
}

@media only screen and (max-width: 767px) {
    .recipe-background {
        height: 730px;
    }
    .lead1 {
        font-size: small;
    }
    .titles {
        font-size: xx-large;
    }
    .products {
        height: 650px;
    }
    .info {
        height: 740px;
    }
    .menu {
        height: 850px;
    }
    .lead {
        font-size: medium;
    }
    .contact {
        height: 680px;
    }
    .btn {
        position: relative;
        bottom: 30px;
    }
}

@media only screen and (max-width: 575px) {
    .products {
        height: 2050px;
    }
    .info {
        height: 660px;
    }
    .menu {
        height: 850px;
    }
   
    .contact {
        height: 680px;
    }
    .btn {
        position: relative;
        top: 10px;
    }
    .cart-icon {
        position: relative;
        left: 15px;
    }
}

@media only screen and (max-width: 555px) {
    .products {
        height: 2050px;
    }
    .info {
        height: 680px;
    }
    .menu {
        height: 850px;
    }
    .lead {
        font-size: medium;
    }
    .contact {
        height: 680px;
    }
}

@media only screen and (max-width: 541px) {
    .products {
        height: 2050px;
    }
    .info {
        height: 680px;
    }
    .menu {
        height: 850px;
    }
    .lead {
        font-size: medium;
    }
    .contact {
        height: 680px;
    }
}

@media only screen and (max-width: 537px) {
    .recipe-background {
        height: 730px;
    }
    .lead1 {
        font-size: small;
    }
    .titles {
        font-size: xx-large;
    }
}

@media only screen and (max-width: 520px) {
    .products {
        height: 1950px;
    }
    .info {
        height: 680px;
    }
    .menu {
        height: 850px;
    }
    .lead {
        font-size: medium;
    }
    .contact {
        height: 680px;
    }
}

@media only screen and (max-width: 503px) {
    .producttext {
        font-size: small;
    }
}

@media only screen and (max-width: 499px) {
    .info {
        height: 720px;
    }
    .products {
        height: 1900px;
    }
}

@media only screen and (max-width: 492px) {
    .recipe-background {
        height: 730px;
    }
    .lead1 {
        font-size: x-small;
    }
    .titles {
        font-size: xx-large;
    }
    
}

@media only screen and (max-width: 489px) {
    .producttext {
        font-size: x-small;
    }
    .productprice {
        font-size: x-small;
    }
    .products {
        height: 1850px;
    }
}

@media only screen and (max-width: 480px) {
    .products {
        height: 1750px;
    }
    .info {
        height: 680px;
    }
    .menu {
        height: 750px;
    }
    .lead {
        font-size: medium;
    }
    .contact {
        height: 620px;
    }
    .recipe-background {
        height: 740px;
    }
}

@media only screen and (max-width: 467px) {
    .products {
        height: 1700px;
    }
    .info {
        height: 600px;
    }
    .menu {
        height: 820px;
    }
    .lead {
        font-size: smaller;
    }
    .contact {
        height: 650px;
    }
}

@media only screen and (max-width: 458px) {
    .recipe-background {
        height: 730px;
    }
}

@media only screen and (max-width: 450px) {
    .products {
        height: 1700px;
    }
    .info {
        height: 570px;
    }
    .menu {
        height: 750px;
    }
    .lead {
        font-size: small;
    }
    .contact {
        height: 610px;
    }
    
}

@media only screen and (max-width: 441px) {
    .recipe-background {
        height: 730px;
    }
    .lead1 {
        font-size: x-small;
    }
    .info {
        height: 600px;
    }
}

@media only screen and (max-width: 411px) {
    .products {
        height: 1600px;
    }
    .producttext {
        font-size: xx-small;
    }
    .info {
        height: 590px;
    }
    .menu {
        height: 830px;
    }
    .lead {
        font-size: small;
    }
    .contact {
        height: 650px;
    }
}

@media only screen and (max-width: 386px) {
    .info {
        height: 640px;
    }
}

@media only screen and (max-width: 361px) {
    .info {
        height: 640px;
    }
    .menu {
        height: 950px;;
    }
    .products {
        height: 1500px;;
    }
}

@media only screen and (max-width: 340px) {
    .info {
        height: 670px;
    }
}

@media only screen and (max-width: 314px) {
    .info {
        height: 700px;
    }
}

@media only screen and (max-width: 311px) {
    .info {
        height: 750px;
    }
}

@media only screen and (max-width: 304px) {
   
    .menu {
        height: 950px;
    }
    .lead {
        font-size: x-small;
    }
    .contact {
        height: 700px;
    }
    .recipe-background {
        height: 730px;
    }
    .lead1 {
        font-size: xx-small;
    }
    .products {
        height: 1350px;
    }
    .info {
        height: 590px;
    }
    
    .lead {
        font-size: x-small;
    }
    .contact {
        height: 700px;
    }
}


@media only screen and (max-width: 283px) {
    .products {
        height: 1300px;
    }
    .info {
        height: 620px;
    }
    .menu {
        height: 1050px;
    }
    .lead {
        font-size: x-small;
    }
    .contact {
        height: 700px;
    }
}

@media only screen and (max-width: 280px) {
    .products {
        height: 1250px;
    }
    .info {
        height: 720px;
    }
    .menu {
        height: 1130px;
    }
    .lead {
        font-size: x-small;
    }
    .contact {
        height: 700px;
    }
}

@media only screen and (max-width: 270px) {
    .products {
        height: 1500px;
    }
    .info {
        height: 720px;
    }
    .menu {
        height: 1130px;
    }
    .lead {
        font-size: x-small;
    }
    .contact {
        height: 700px;
    }
}

@media only screen and (max-width: 259px) {
    .products {
        height: 1250px;
    }
    .info {
        height: 620px;
    }
    .menu {
        height: 1000px;
    }
    .lead {
        font-size: x-small;
    }
    .contact {
        height: 650px;
    }
}

